{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Nouvel exercice{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Creer un exercice</h1>
        <a href="{{ path('admin_gestion_exercices_index') }}" class="btn btn-secondary">Retour</a>
    </div>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-6">{{ form_row(form.nom) }}</div>
                    <div class="col-md-6">{{ form_row(form.type) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.duree) }}</div>
                    <div class="col-md-6">{{ form_row(form.difficulte) }}</div>
                </div>
                {{ form_row(form.description) }}
                {{ form_row(form.demarche) }}

                <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
